{% load i18n %}{% load static %}<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>YATI</title>

    <meta name="viewport" content="width=1040, minimum-scale=0.1, maximum-scale=1.0" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/foundation/5.2.1/css/foundation.min.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="{% static "yati/css/yati.css" %}" type="text/css" media="screen" />

    <script src="https://cdn.jsdelivr.net/jquery/1.8.3/jquery-1.8.3.min.js"></script>
    
    <script src="https://cdn.jsdelivr.net/modernizr/2.7.1/modernizr.min.js"></script>
    <script src="https://cdn.jsdelivr.net/foundation/5.2.1/js/foundation/foundation.js"></script>
    <script src="https://cdn.jsdelivr.net/foundation/5.2.1/js/foundation/foundation.topbar.js"></script>

    <script src="https://cdn.jsdelivr.net/underscorejs/1.5.2/underscore-min.js"></script>
    <script src="https://cdn.jsdelivr.net/backbonejs/1.1.2/backbone-min.js"></script>
    <script src="{% static "yati/js/barebone-backbone.min.js" %}"></script>
    <script src="https://cdn.jsdelivr.net/knockout/3.1.0/knockout.js"></script>
    <script src="{% static "yati/js/knockback-core.min.js" %}"></script>

    <script src="{% static "yati/js/core.js" %}"></script>
    <script src="{% static "yati/js/models.js" %}"></script>
    <script src="{% static "yati/js/views.js" %}"></script>
    <script src="{% static "yati/js/app.js" %}"></script>
  </head>

  <body>
    {% include "tpl/app-view.tpl" %}
    <script type="text/x-jquery-tmpl" id="index-view">{% include "tpl/index-view.tpl" %}</script>
    <script type="text/x-jquery-tmpl" id="project-view">{% include "tpl/project-view.tpl" %}</script>    
    <script type="text/x-jquery-tmpl" id="module-view">{% include "tpl/module-view.tpl" %}</script>    
  </body>

</html>
